/*Apply styling to the entire document*/
body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background-color: salmon;
}

/*Unique styling for the header*/
header {
    color: rgb(242, 211, 34);
    background-color: #1b6e74;
    border-style: solid;
    border-color: salmon;
    border-width: 2px;
    display: grid;
    margin: 5px;
    padding: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "a b b"
                         "c c d";
}

/*Add unique styling for h1 as well as all p tags in the document*/
h1 {
    grid-area: a;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p {
    grid-area: c;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/*Use flexbox to style the navigation bar*/
nav {
    grid-area: b;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 50px;
}

/*Remove the bullets from the list and apply unique styling to the nav bar*/
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: Helvetica;
    font-size: 1.2em;
}

/*Remove defaul hyperlink styling from the nav bar*/
nav ul a {
    text-decoration: none;
    color: salmon;
}

/*Position headshot*/
header figure {
    align-self: center;
    grid-area: d;
    padding: 0 30px 30px 0;
}

/*Make headshot a circle*/
header img {
    border-radius: 50%;
}

/*Apply styling to the main contents of the document including each section*/
main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Apply styling to the h2 and h3 tags within main*/
main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 10px;
}

main h3 {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

/*Style the Motivation section so that the image is next to the text using flexbox*/
#Motivation {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

/*Style the text within the div in the Motivation section so the h3 is above the p*/
#Motivation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

/*Remove bullet points from list*/
#Skills ul{
    list-style: none;
}

/*Arrange items in Skills section so the h3 is above the images*/
#Skills {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 50px;
}

/*Arrange the images in a row*/
.pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Remove bullet points from list and make line height taller*/
#Education ul {
    list-style: none;
    line-height: 2;
}

/*Add bold styling to the first and third bullet points*/
#Education ul :nth-child(1), :nth-child(3) {
    font-weight: bold;
}

/*Alter the hyperlink styling*/
#Education ul a {
    text-decoration: none;
    color: #1b6e74;
}

/*Arrange the items in the footer*/
footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}